---

layout: default
title: Category

---

<section class="post-list">
  <div class="container">
    {% assign sorted_cat = site.categories | sort %}
    {% for category in sorted_cat %}
      <h2 class="category-title">{{ category[0] }}</h2>
        {% for post in category[1] %}
          <article class="post-item">
            <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
            <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
          </article>
        {% endfor %}
    {% endfor %}
  </div>
</section>
