<section class="intro">
  <div class="container">
    <p class="lead">I believe things learnt must be used somewhere, otherwise it'll be forgotten. As I don't have enough effort/chance to use it. Hereby jots them down for future reference.</p>
  </div>
</section>
